.letter-spacing {
  letter-spacing: 0.1em;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.custom-btn {
  background-color:#1b673b;
  color: #fff; 
  border: none; 
}

.custom-btn:hover {
  background-color: #1b673b; 
}