.btn_login {
    border: none;
    padding: 10px; 
    color: var(--color-light-secondary);
    background-color: transparent;
    font-size: 1rem;
    transform: scale(2);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        color: rgba(244, 246, 255, 0.7);
        transition: all 0.3s ease;
    }
}
