
.admin_nav_container{
    position: relative;
    display: flex;
    flex-flow: row;
    background-color: rgb(var(--color-accent));
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    border-radius: 10px;
}

.nav_bar_icon_container{
    position: absolute;
    top: 12px;
    display: none;

    svg{
        font-size: 1.4rem;
        color: rgba(240, 248, 255, 0.4);
    }
}
.admin_tabLink{
    background-color: transparent !important;
    border: 2px solid transparent !important;
    
    &.active{
        border: 2px solid white !important;
    }
    &:hover{
        border: 2px solid var(--color-bg-light) !important;
    }

    svg{
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
    .admin_nav_container{
        max-width: 75px;
        flex-flow: column;
        min-height: 50vh;
    }
    .nav_bar_icon_container{
        display: flex;
    }
}
/* @media (min-width: 768px) and (max-width: 992px) {
    .filter_container{
        max-width: 450px;
        left: 0px;
    }
} */